
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    height: 100%;
    width: 70%;
    padding: 1em 0;
    margin: auto;

    display: flex;
    flex-direction: column;
}

main, main * {
    gap: .5em;
}

.window {
    display: inline-block;

    border: .3rem solid black;
    border-radius: 1rem;

    padding-inline: .5rem;
    padding-bottom: .5rem;
}

.window h2 {
    padding-inline: .5em;
}

#logs {
    border: .3rem solid black;
    border-radius: 1rem;

    padding: .5em;
    margin-bottom: .5em;

    overflow: hidden;
    height: 25em;
}

#grafico {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: .5rem;
}

header {
    text-align: center;
}

.lado-a-lado, .lado-a-lado2 {
    display: flex;
}

.lado-a-lado > * {
    flex: 1;
}

.lado-a-lado2 {
    align-items: center;
}

.lado-a-lado2 > * {
    height: fit-content;
}

.lado-a-lado2 img {
    width: 64px;
    height: 64px;
}

.lado-a-lado2 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bob {
    display: inline-flex;
    flex-direction: column;
}

.headerThing {
    display: inline-grid;
    vertical-align: top;
    grid-template:
        "bigText tinyText"
    / min-content 0fr;
    gap: .3rem;
    align-items: end;
}

.headerThing > * {
    display: inline-block;
    margin: 0;
}

.headerThing > h4 {
    font-size: 1.4rem;
}

.disableParagraphMargin h3 {
    font-size: 1.5rem;
    margin: 0;
}