/* CSS Básico para deixar o painel amigável */
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    padding: 50px; 
    background-color: #fefefe;
}

.seletor {
    text-align: center;
    width: 50%;

    padding: 1em;
    margin: auto;
}

.seletor_links {
    display: flex;
    flex: 1;

    justify-content: space-between;
}