/* CSS Básico para deixar o painel amigável */
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center; 
    padding: 50px; 
    background-color: #e2e8f0;
}

body::before {
    
}

.seletor {

}